GUANGHE_COOKIE=replace_with_cookie_from_browser_request
GUANGHE_REFERER=https://guanghe.qq.com/
GUANGHE_ORIGIN=https://guanghe.qq.com
GUANGHE_INTERVAL_MS=60000
GUANGHE_OUTPUT=data/tree-live.json
GUANGHE_MAX_PAGES=20
GUANGHE_WRITE_EMPTY=0
